---
layout: default
---

<section>
  <div class="container">
    <!-- blog posts -->
    <div id="cbg-masonry">
      <div class="space50"></div> 
      {% for post in paginator.posts %}
        {% assign author = site.authors[post.author] %}
        {% assign mod = forloop.index | modulo: 3 %}

        {% if mod == 1 %}
        <div class="row">
        {% endif %}

          <div class="col-sm-4 col-md-4">
            <div class="cbg">
              <div class="cbg-meta">
                <div class="cbg-category">
                  {{ post.categories | join: ', ' }}
                </div>
              </div>
              <h3><a href="{{post.url}}">{{ post.title }}</a></h3>
              <p>{{ post.content | markdownify | strip_html | truncatewords: 50 }}</p>
              <div class="cbg-author">
                  <span>by</span>
                  <a href="#">{{ author.name }}</a>
              </div>
            </div>
          </div>

        {% if mod == 0 %}
        </div>
        {% endif %}

      {% endfor %}
    </div>
    <!-- /posts -->
    <div class="clearfix"></div>
    <div class="space50"></div>
    <!-- pagination -->
    <div class="text-center">
        {% if paginator.next_page %}
          <a class="pagination-item older btn btn-border-purple-light" href="/page{{paginator.next_page}}">Older</a>
        {% endif %}
        {% if paginator.previous_page %}
          {% if paginator.page == 2 %}
            <a class="pagination-item newer btn btn-border-purple-light" href="/">Newer</a>
          {% else %}
            <a class="pagination-item newer btn btn-border-purple-light" href="/page{{paginator.previous_page}}">Newer</a>
          {% endif %}
        {% endif %}
    </div>
    <!-- /pagination -->
    <div class="space50"></div>
  </div>
</section>