<!-- Footer -->
<footer class="light-purple" id="footer-3">

    <div class="container">
        <div class="col-sm-4 col-sm-offset-4 text-center">
            <div class="space10"></div>
            <!-- <a href="#" id="topo"></a> -->
            <img id="topo" 
                src="/public/images/ui-elements/top-icon.png" 
                srcset="/public/images/ui-elements/top-icon.png 1x, /public/images/ui-elements/top-icon@2x.png 2x" 
                alt="Go back to top">
            <div class="space30"></div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>2015 Copyright - <span class="evolved">EVOLVED</span></p>
            <p><em>{{ site.tagline }}<em></p>
        </div>
    </div>
</footer>