<!-- jQuery & Bootstraps -->
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/public/js/ie10-viewport-bug-workaround.js"></script>

<!-- Parallax -->
<script src="/public/js/jquery.stellar.js"></script>

<!-- Owl Carousel -->
<script src="/public/plugins/owl-carousel/owl.carousel.min.js"></script>

<!-- Isotope Plugin -->
<script src="/public/plugins/isotope-plugin/js/jquery.isotope.js"></script>
<script src="/public/plugins/isotope-plugin/js/masonry.pkgd.min.js"></script>
<script src="/public/plugins/isotope-plugin/js/jquery.isotope.perfectmasonry.js"></script>

<!-- Google Map -->
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="/public/js/gmap3.min.js"></script>

<!-- Custom JS -->
<script src="/public/js/wow.js"></script>
<script src="/public/js/custom.js"></script>