<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">EVOLVED</a>
        </div>
        <!-- <div id="navbar" class="navbar-collapse collapse">
            <a class="menu-normal pull-right" id="menu-icon" href="javascript:void(0);">
                <div class="patty"></div>
            </a>
            <ul class="nav navbar-nav navbar-right menu-display">
                <li><a href="/">Home</a></li>
                <li><a href="javascript:void(0);">About</a></li>
                <li><a href="javascript:void(0);">Services</a></li>
                <li>
                    <a href="/">Blog</a>
                    <ul>
                        <li><a href="creative-blog.html">Creative Blog</a> </li>
                        <li><a href="creative-blogs-lists.html">Creative Blog Lists</a> </li>
                        <li><a href="creative-blogs-grid.html">Creative Blog Grid</a> </li>
                        <li><a href="creative-blog-single.html">Creative Blog Single</a> </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);">Contact</a>
                </li>
            </ul>
        </div> -->
    </div>
</nav>