---
layout: default
---

{% assign author = site.authors[page.author] %}

<!-- Post -->
<section>
  <div class="container">
    <div class="space50"></div>

    <a href="/" class="more-blog-link cn-link">
        <i class="fa fa-arrow-left"></i>
        <span>Back To Posts</span>
    </a>

    <div class="blog-post">
      <!-- <span class="post-date">{{ page.date | date_to_string }}</span> -->
      <div class="ana">
          <h2>{{ page.title }}</h2>
          <div>
            {% for category in page.categories %}
            <span href="#" class="link-fill-green">{{ category }}</span>
            {% endfor %}
          </div>
          <div class="space30"></div>
      </div>

      <div class="row">
        <!-- content -->
        <div class="col-sm-8">
        {{ content }}
        </div>

        <!-- information -->
        <div class="sidebar col-sm-3 col-sm-offset-1">
          <div class="wwr">
            <div class="holder">
              <div align="center">
                <div class="wwr-holder">
                    <span></span>
                    <img src="/public/images/profile/{{ author.image }}" alt="">
                </div>
              </div>
              <div class="space30"></div>
              <h4 class="text-center color-dark-grey font-16">{{ author.name }}</h4>
              <p class="text-center color-light-grey">{{ author.bio }}</p>
              <div class="space10"></div>
              <div class="social text-center">
                <a href="{{ author.twitter }}"><i class="fa fa-twitter"></i> </a>
                <a href="{{ author.github }}"><i class="fa fa-github"></i> </a>
                <a href="{{ author.linkedin }}"><i class="fa fa-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="space50"></div>
  </div>
</section>

<!-- Related posts -->
<div class="divider-green"></div>

<section>
  <div class="container">
    <h1 class="text-center title">RELATED POSTS</h1>
    {% for post in site.related_posts limit:3 %}
      <div class="col-sm-4 col-md-4">
          <div class="cbg">
            <div class="cbg-category">
            {{ post.categories | join: ', ' }}
            </div>
            <h3><a href="{{ post.url }}">{{ post.title }}</a> </h3>
            <p>{{ post.content | markdownify | strip_html | truncatewords: 30 }}</p>
          </div>
      </div>
    {% endfor %}
  </div>
</section>