---
layout: default
---

<!-- Post -->
<section>
  <div class="container">
    <div class="space50"></div>

    <a href="/" class="more-blog-link cn-link">
        <i class="fa fa-arrow-left"></i>
        <span>Back To Posts</span>
    </a>

    <div class="blog-post">
      <div class="space30"></div>
      <!-- <span class="post-date">{{ page.date | date_to_string }}</span> -->
      <div class="row">
        <!-- content -->
        <div class="col-sm-8">
        {{ content }}
        </div>

        <!-- information -->
        <div class="col-sm-3 col-sm-offset-1">

          <div class="cbg-category">
            {% for category in page.categories %}
              <span>{{ category }}</span>
            {% endfor %}
          </div>
          <h3><a href="#">ANAHEIM IS GOING WILDER</a> </h3>
          <p>Nullam viverra libero id luctus commodo. Vestibulum mollis elit elit, quis suscipit ligula facilisis vel.</p>
          <p>Duis eget ultricies nibh, in finibus turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
          <div class="clearfix"></div>
          <div class="cbl-author">
              <div class="lft">
                  <div class="shape-holder">
                      <span></span>
                      <a href="#"><img src="/public/images/team3.jpg" alt=""></a>
                  </div>
              </div>
              <div class="rgt">
                  <span>by</span>
                  <a href="#">Allan<br>Doe</a>
              </div>
          </div>

        </div>
      </div>
    </div>

    <div class="space50"></div>
  </div>
</section>

<!-- Related posts -->
<div class="divider-green"></div>

<section>
  <div class="container">
    <h1 class="text-center title">RELATED POSTS</h1>
    {% for post in site.related_posts limit:3 %}
      <div class="col-sm-4 col-md-4">
          <div class="cbg">
            <div class="cbg-category">
            {% for category in post.categories %}
              <span>{{ category }}</span>
            {% endfor %}
            </div>
            <h3><a href="{{ post.url }}">{{ post.title }}</a> </h3>
            <p>{{ post.content | markdownify | strip_html | truncatewords: 30 }}</p>
          </div>
      </div>
    {% endfor %}
  </div>
</section>

<!-- Comments -->
<section class="single-comments">
  <div class="container">
    <h1 class="text-center title">Comments</h1>
    <div class="col-md-8">
        <div class="comment-label">
            <h3>your comment</h3>
            <h4>Please <a href="#">login</a>  or <a href="#">register</a> to leave a comment</h4>
        </div>
        <div class="comments-form">
            <form>
                <textarea name="comments" required></textarea>
                <input type="submit" value="Add">
            </form>
        </div>
        <div class="clearfix"></div>
        <h3 class="comments-count">
            <i class="fa fa-comment-o"></i>
            <span>19 Comments</span>
        </h3>
        <ul class="comments-list">
            <li>
                <div class="media-heading">
                    <div class="media-holding">
                        <span>Rebecca</span>
                        <small>Today at 10:46</small>
                    </div>
                </div>
                <div class="media-body">
                    <p>Morbi dignissim erat nec nisi scelerisque, ut consectetur lorem commodo. Duis at metus cursus, tristique mi vel.</p>
                    <a class="comment-reply" href="#">
                        <i class="fa fa-reply"></i>
                        <span>REPLY</span>
                    </a>
                </div>
            </li>
            <li>
                <div class="media-heading">
                    <div class="media-holding">
                        <span>John Doe</span>
                        <small>3 days ago</small>
                    </div>
                </div>
                <div class="media-body">
                    <p>Morbi dignissim erat nec nisi scelerisque, ut consectetur lorem commodo. Duis at metus cursus, tristique mi vel.</p>
                    <a class="comment-reply" href="#">
                        <i class="fa fa-reply"></i>
                        <span>REPLY</span>
                    </a>
                </div>
                <ul>
                    <li>
                        <div class="media-heading">
                            <div class="media-holding">
                                <span>Allan</span>
                                <small>Today at 10:46</small>
                            </div>
                        </div>
                        <div class="media-body">
                            <p>Morbi dignissim erat nec nisi scelerisque, ut consectetur lorem commodo. Duis at metus cursus, tristique mi vel.</p>
                            <a class="comment-reply" href="#">
                                <i class="fa fa-reply"></i>
                                <span>REPLY</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="media-heading">
                            <div class="media-holding">
                                <span>Karlos</span>
                                <small>2 days ago</small>
                            </div>
                        </div>
                        <div class="media-body">
                            <p>Morbi dignissim erat nec nisi scelerisque, ut consectetur lorem commodo. Duis at metus cursus, tristique mi vel.</p>
                            <a class="comment-reply" href="#">
                                <i class="fa fa-reply"></i>
                                <span>REPLY</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="clearfix"></div>
        <div class="text-center">
            <a href="javascript:void(0);" class="btn btn-border-purple-light">LOAD MORE COMMENTS</a>
        </div>
        <div class="space30"></div>
    </div>
  </div>
</section>